*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.smartphones{
    display: flex;
    flex-wrap: wrap;
    border-width: 2rem;
    border-style: solid;
    border-radius: 2rem;
}

img{
    height: 8rem;
    width: 10rem;
}
